@import "reset.css";

/* 폰트 적용 방법 */
/* 클래스명, 아이디명 바꿔서 복붙하시면 됩니다 */
.nanum-brush {
  font-family: "Nanum Brush Script";
  font-weight: 400;
  font-style: normal;
}

/* 클래스명, 아이디명 바꿔서 복붙하시면 됩니다 */
/* 굵기만 변경해주세요 (100, 200, 300, 400, 500, 600, 700, 800, 900까지 있는데 적절한 거 사용하시면 돼요) */
.noto-sans-kr {
  font-family: "Noto Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500; /*굵기*/
  font-style: normal;
}

/* 여기부터 코드 작성 */
header {
  background-color: #1d503d;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  color: white;
}

.header-right span {
  padding-left: 1rem;
}

.main {
  height: 100vh;
}

.whole-box {
  display: flex;
  flex-direction: column;
  justify-content:center;
  height: 100vh;
  align-items: center;
}

.sehongseongbinction-team {
  display: flex;
  width: 930px;
  justify-content: space-between;
  align-items: center;

}
.team-title{
  color: #1D503D;
  margin: 0px;
}


.team-list {
  list-style: disc;
  padding: 0px 20px;
}

.team-list li {
  margin: 10px 0px;
}

/* 흰색 바탕 */
.include-circle {
  border: thin solid black;
  width: 130px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background-color: white;
  margin-right: 60px;

}

.int-teampic img {
  object-fit: cover;
  float: left;
  border-radius: 20px;
}

.int-box {
  border: thin solid black;
  width: 425px;
  height: 350px;
  position: relative;
  background-color: #E4E4E4;
  float: left;
  display: flex;
  border-radius: 20px;
  padding: 20px;
  

  /* 폰트 */
  font-family: "Noto  Sans KR", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: #393939;
}

/* 팀 약속 */
.team-promise {
  border: thin solid black;
  border-radius: 20px;
  width: 930px;
  height: 200px;
  background-color: #E4E4E4;
  margin-top: 30px;
  display: flex;
  justify-content: center;
  padding-top: 10px;
  flex-direction: column;
  align-items: center;
}


footer {
  font-family: "Noto Sans KR", sans-serif;
  background-color: #e4e4e4;
  padding: 1rem;
  text-align: center;
}

.github-ids a {
  text-decoration: none;
  color: #393939;
  font-size: 0.8rem;
}

.github-ids a:hover {
  color: rgb(116, 116, 116);
}

